ul, ol {
  padding-left: $base-padding * 2;
  padding-right: $base-padding;
  padding-top: $base-padding / 2;
  padding-bottom: $base-padding / 2;
}

// regular unordered list
ul {
  li {
    list-style-type: disc;

    // nested one level
    ul li {
      list-style-type: circle;
    }

    // nested two levels
    ul li ul li {
      list-style-type: square;
    }
  }
}


// ordered list
ol {
  li {
    list-style-type: decimal;

    // nested one level
    ol li {
      list-style-type: lower-latin;
    }

    // nested two levels
    ol li ol li {
      list-style-type: circle;
    }
  }
}

// NO BULLETS FOR YOU SIR
ul.unformatted {
  &.flush {
    padding-right: 0px;
    padding-left: 0px;
  }
  li {
    list-style-type: none;

    // nested one level
    ul li {
      list-style-type: none;
    }

    // nested two levels
    ul li ul li {
      list-style-type: none;
    }
  }
}